<h1>Make a Payment</h1>

<%= form_tag pledge_payments_path(@pledge), id: "server-form", method: :post do %>
  <%= hidden_field_tag :stripe_token %>
<% end %>

<div id="stripe-errors"></div>
<%= form_tag "", id: "stripe-form" do %>
  <div class="form-group">
    <label for="card-number">Card Number</label>
    <input type="text" id="card-number">
  </div>
  <div class="form-group">
    <label for="card-number">Expiry Date</label>
    <%= select_month(Date.today, use_month_numbers: true) %>
    <%= select_year(Date.today, start_year: Date.today.year,
                                end_year: (Date.today.year + 10)) %>
  </div>
  <div class="form-group">
    <label for="cvc">CVC</label>
    <input type="text" id="cvc">
  </div>

  <input type="submit" value="Make a Payment" id="submit-button">
<% end %>
