<%= cache(@campaign) do %>
  <div class="col-md-9">
    <h1><%= @campaign.title %>
      <span class="label <%= @campaign.state_class %>">
        <%= @campaign.aasm_state %>
      </span>
    </h1>
    <p><%= @campaign.description %></p>
    <div style='width: 800px;'>
      <div id="map" style='width: 800px; height: 400px;'></div>
    </div>
    <%= @campaign.edit_button %>
    <%= @campaign.delete_button %>
    <%= @campaign.publish_button %>
    <%= @campaign.cancel_button %>
  </div>
  <div class="col-md-3">
    <% @campaign.reward_levels.each do |level| %>
      <%= cache(level, expires_in: 1.day) do %>
        <div class="well">
          <h3><%= level.title %></h3>
          <p><%= level.description %></p>
          <p><%= number_to_currency(level.amount) %></p>
        </div>
      <% end %>
    <% end %>
  </div>

  <h2>Pledge</h2>
  <%= simple_form_for [@campaign, (@pledge || Pledge.new)] do |f| %>
    <%= f.input :amount %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>

  <%= simple_form_for [@campaign, (@comment || Comment.new)] do |f| %>
    <%= f.input :body %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>

  <h2>Comments</h2>
  <% @campaign.comments.each do |comment| %>
    <div class="well">
      <%= comment.body %>
    </div>
  <% end %>

  <script>
    $(document).ready(function(){
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers([
          {
            "lat": <%= @campaign.latitude %>,
            "lng": <%= @campaign.longitude %>,
            "infowindow": "<h3><%= @campaign.title %></h3>"
          }
        ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })

  </script>
<% end  %>
