<div class="col-md-9">
  <h1><%= @campaign.title %></h1>
  <p><%= @campaign.description %></p>
  <div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>

  <%= link_to "edit", edit_campaign_path(@campaign) %>
  <%= link_to "delete", @campaign, method: :delete, data: {confirm: "Are you sure?"} %>
  <% if can? :publish, @campaign %>
    <%= link_to "publish", campaign_publishings_path(@campaign), method: :post,
                data: {confirm: "Are you sure? You won't be able to edit it again"}%>
  <% end %>
  <%= link_to "cancel", campaign_cancellings_path(@campaign), method: :post,
                data: {confirm: "Are you sure?"} %>
</div>
<div class="col-md-3">
  <% @campaign.reward_levels.each do |level| %>
    <div class="well">
      <h3><%= level.title %></h3>
      <p><%= level.description %></p>
      <p><%= number_to_currency(level.amount) %></p>
    </div>
  <% end %>
</div>

<%= simple_form_for [@campaign, @comment] do |f| %>
  <%= f.input :body %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>

<h2>Comments</h2>
<% @campaign.comments.each do |comment| %>
  <div class="well">
    <%= comment.body %>
  </div>
<% end %>

<script>
  $(document).ready(function(){
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers([
        {
          "lat": <%= @campaign.latitude %>,
          "lng": <%= @campaign.longitude %>,
          "infowindow": "<h3><%= @campaign.title %></h3>"
        }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
  })

</script>
