<div class="col-md-9">
  <h1><%= @campaign.title %></h1>
  <p><%= @campaign.description %></p>
  <%= link_to "edit", edit_campaign_path(@campaign) %>
  <%= link_to "delete", @campaign, method: :delete, data: {confirm: "Are you sure?"} %>
  <%= link_to "publish", campaign_publishings_path(@campaign), method: :post,
                data: {confirm: "Are you sure? You won't be able to edit it again"}%>
</div>
<div class="col-md-3">
  <% @campaign.reward_levels.each do |level| %>
    <div class="well">
      <h3><%= level.title %></h3>
      <p><%= level.description %></p>
      <p><%= number_to_currency(level.amount) %></p>
    </div>
  <% end %>
</div>

<%= simple_form_for [@campaign, @comment] do |f| %>
  <%= f.input :body %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>

<h2>Comments</h2>
<% @campaign.comments.each do |comment| %>
  <div class="well">
    <%= comment.body %>
  </div>
<% end %>
